@import 'variables';
@import 'mixins';
@import 'extensions';




// header

.d-header{
    background-color: #01377B;
    min-height: 60px;
}
.d-header #site-logo{
    max-height:20px;
}
.d-header-icons{
    color: #fff;
}
.d-header-icons .d-icon{
    opacity: 1;
}
//body
.topic-list{
    background: #fff;
}
.topic-list .main-link a.title{
    color: #151B22;
}
.topic-list .topic-excerpt{
    color: #8A9BAD;
}
body .nav-pills>li>a {
    color: #151B22;
}
.nav-pills>li{
    background-color: #fff;
    border-radius: 2px;
    margin-left:5px;
}
.nav-pills>li.active>a, .nav-pills>li>a.active{
    color: #fff;
    background: #0162DD;

}
.select-kit.combo-box.category-drop{
    background-color: #fff;
}

.topic-list-item.visited a.title:not(.badge-notification){
    color: #151B22;
}
