@import 'variables';
@import 'mixins';
@import 'extensions';




// header

.d-header{
    background-color: #01377B;
    min-height: 60px;
}
.d-header #site-logo{
    max-height:20px;
}
.d-header-icons{
    color: #fff;
}
.d-header-icons .d-icon{
    opacity: 1;
}
//body
.topic-list{
    background: #fff;
}
.topic-list .main-link a.title{
    color: #151B22;
}
.topic-list .topic-excerpt{
    color: #8A9BAD;
}
body .nav-pills>li>a {
    color: #151B22;
}
.nav-pills>li{
    background-color: #fff;
    border-radius: 2px;
    margin-left:5px;
}
.nav-pills>li.active>a, .nav-pills>li>a.active{
    color: #fff;
    background: #0162DD;

}
.select-kit.combo-box.category-drop{
    background-color: #fff;
}

.topic-list-item.visited a.title:not(.badge-notification){
    color: #151B22;
}

.topic-list .topic-excerpt a{
    color: #FE6C04;
}
.list-controls .btn{
    background:#fff;
}

.drop-down-mode .d-header .icons .active .icon,.d-header .icons .icon:focus, .d-header .icons .icon:hover{
    background: #0162DD;
}
// post

.topic-body{
    background: #fff;
}
.table tbody tr, .topic-list>tbody>tr, .topic-list>thead>tr, .category-list>tbody>tr, .category-list>thead>tr, .latest-topic-list .table-heading, .latest-topic-list-item, .user-main .user-content .user-invite-list tr, .admin-contents table:not(.pika-table) tr{
    border-bottom: 1px solid #CFD6DF;
}

.image-upload-controls .btn-primary.btn,
.select-kit.category-drop.combo-box .btn-primary.category-drop-header,
.select-kit.combo-box .btn-primary.select-kit-header,
.list-controls .btn-primary.btn,
.edit-category-modal .edit-category-tab-general section.field>.btn-primary.btn,
.edit-category-modal .edit-category-tab-security section.field>.btn-primary.btn,
#reply-control .submit-panel .btn-primary.btn,
.fps-select a.btn-primary,
.search.row>.btn-primary.btn,
.search.row .new-topic-btn .btn-primary.btn,
.search.row .search-bar .btn-primary.btn,
.timeline-container .topic-timeline div>button.btn-primary.btn,
.timeline-container .topic-timeline span>button.btn-primary.btn,
.period-chooser.dropdown-select-box.select-kit .btn-primary.period-chooser-header,
.top-title-buttons button.btn-primary,
#topic-footer-buttons div>button.btn-primary.btn,
#topic-footer-buttons span>button.btn-primary.btn,
#topic-footer-buttons>button.btn-primary.btn,
.display-row .controls a.btn-primary[data-ember-action]:not(.close),
.user-main .user-right .list-actions .btn-primary.btn,
.user-navigation .btn-primary.new-private-message,
.user-preferences .btn-primary.btn,
.badges-section.top-section>p .btn-primary.more,
.admin-contents .btn-primary.btn,
.screened-ip-addresses .actions.col a.btn-primary {
    color: #fff;

}

.topic-list .badge-wrapper{
    background:#EBEBEB;
}

.alert,
.fps-result,
.search-advanced,
#share-link,
.top-lists,
.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner,
.small-action,
.topic-body,
.admin-user .details,
.stats-section,
.top-sub-section.likes-section,
.top-sub-section.links-section,
.top-sub-section.replies-section,
.top-sub-section.summary-user-list,
.top-sub-section.topics-section,
.user-main .about,
.user-main .user-content .user-invite-controls,
.user-main .user-stream,
.user-nav,
.user-preferences,
.badge-card,
.user-info,
#user-card,
section.about,
.static-faq .body-page [itemprop='mainContentOfPage'],
.static-privacy .body-page [itemprop='mainContentOfPage'],
.static-tos .body-page [itemprop='mainContentOfPage'],
.admin-controls, .admin-customize .admin-container>.about,
.admin-customize .show-current-style,
.admin-contents div.groups>.span13,
.admin-container div.user-fields .user-field,
.content-body, .content-editor,
.email-preview-digest .controls,
.embedding-secondary,
.admin-contents .groups-bulk,
.settings,
.site-texts {
    background:#fff;
}
// modal
.create-account tr.input input{
    background:#F7F8FA;
}
.bootbox.modal, .modal-inner-container{
    background:#fff;
}
.d-header button.login-button .fa-user{
    color: #fff;
}
// user-card
#user-card.show-badges{
    background:#fffl
}
// admin-user
.table, .topic-list, .category-list, .latest-topic-list, .admin-contents table:not(.pika-table){
    background: #fff;
}
.dropdown-menu, .popup-menu, .autocomplete, .select-kit .select-kit-body, .select-kit.category-drop.combo-box .select-kit-body, .select-kit.dropdown-select-box .select-kit-body, .select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-body, #topic-entrance, nav.post-controls .post-admin-menu{
    background: #fff;
}
