// add font
html {
    font-family: 'Open Sans', sans-serif;
    color: #151B22;
}


.d-header {
  button {
    &.sign-up-button::before {
      align-self: center;
      position: static;
    }
  }

  .icons .icon:active {
    background-color: transparent;
  }

  .title {
    height: auto;
  }
}
.d-header{
    background-color: #01377B;
}
.d-header-icons{
    color: #fff;
}
.btn-flat{
    .d-icon{
        opacity: 1;
    }
}

// nut edit
.d-header_menu_mobile.hidden{
    display: block;
}
.d-header_menu_desktop.hidden{
    display: none;
}

.d-header{
    min-height: inherit;
    padding: inherit;
}


.category-menu{
    margin:0;

    .category-menu__item{
        list-style: none;
        margin-bottom: 2px;
        margin: 5px;
        background: #efefef;
        border-radius: 3px;

        .category-menu__text{
            padding: 8px;
            background: #fff;

            &.category-menu__text--newcar{
                color: #da4545;
                border-bottom: 1px solid #da4545;
            }
            &.category-menu__text--motor{
                color: #20a931;
                border-bottom: 1px  solid #20a931;
            }
            &.category-menu__text--carcare{
                color: #fec500;
                border-bottom: 1px solid #fec500;
            }
            &.category-menu__text--user{
                color: #4989da;
                border-bottom: 1px  solid #4989da;
            }
            &.category-menu__text--usedcar{
                color: #a556ff;
                border-bottom: 1px  solid #a556ff;
            }
            &.category-menu__text--disscuss{
                color: #8b572a;
                border-bottom: 1px  solid #8b572a;
            }
            h4{
                font-size: 16px;
                margin-bottom:0;
                color: inherit;
            }
            .text-desc{
                font-size: 12px;
                color: #151B22;
                display: none;
            }
        }
    }
}
.topic-list tbody td:first-of-type{
    padding-left: 10px
}

.topic-list{
    .main-link {
        a.title {
            color: #151B22 !important;
        }
    }
}
.d-header-menu{
    background-color: #0047A4;
    position: relative;
    z-index: 1000;
    top: 59px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);

}
