.d-header {
  button {
    &.sign-up-button::before {
      align-self: center;
      position: static;
    }
  }

  .icons .icon:active {
    background-color: transparent;
  }

  .title {
    height: auto;
  }
}
.d-header{
    background-color: #01377B;
}
.d-header-icons{
    color: #fff;
}
.btn-flat{
    .d-icon{
        opacity: 1;
    }
}

// nut edit
.d-header_menu_mobile.hidden{
    display: block;
}
.d-header_menu_desktop.hidden{
    display: none;
}
