.d-header {
  button {
    &.sign-up-button::before {
      align-self: center;
      position: static;
    }
  }

  .icons .icon:active {
    background-color: transparent;
  }

  .title {
    height: auto;
  }
}
.d-header{
    background-color: #01377B;
}
.d-header-icons{
    color: #fff;
}
.btn-flat{
    .d-icon{
        opacity: 1;
    }
}

// nut edit
.d-header_menu_mobile.hidden{
    display: block;
}
.d-header_menu_desktop.hidden{
    display: none;
}

.d-header_menu{
    background-color: #0047A4;
    position: relative;
    z-index: 1000;
    top: 59px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);

}
