.trapezoid {
    border-top: 60px solid #FE5151;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 240px;
    position: absolute;
    bottom: 33px;

    &.color-pink {
        border-top-color: #FE5151;
    }

    &.color-green {
        border-top-color: #1D942B;
    }

    &.color-blue {
        border-top-color: #55A0FE;
    }

    &.color-yellow {
        border-top-color: #FEC500;
    }

    &.color-purple {
        border-top-color: #A556FF;
    }

    &.color-brown {
        border-top-color: #8B572A;
    }
}
