.d-header {
  background-color: #01377B;
  min-height: 60px;
}

.d-header #site-logo {
  max-height: 20px;
}

.d-header-icons {
  color: #fff;
}

.d-header-icons .d-icon {
  opacity: 1;
}

.topic-list {
  background: #fff;
}
